a {
   &:link {
      text-decoration: none;
   }
}

blockquote {
   &::before {
      content: '“';
   }

   &::after {
      content: '”';
   }
}

strong {
   font-weight: $bold;
}

p {
   font-size: $font-size--base;
}
