footer {
   background-color: $color-bg--secondary;

   div {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: (6 * $width--grid-unit) + $width--grid-column;
   }

   a {
      line-height: (5 * $leading);
   }
}
