header {
   background-image: url('../img/large-banner-image.png');
   background-size: cover;
   height: (28 * $leading);
   text-align: center;
   color: $color--headings;

   h1 {
      position: relative;
      margin: 0 auto;
      padding-top: (4.72 * $leading);
      width: (3 * $width--grid-unit);
      vertical-align: top;
      font: {
         size: (3.75 * $font-size--base);
         family: $font-stack--main-heading;
      }

      img {
         position: absolute;
         width: $width--focus-logo;
      }

      span {
         padding-left: ($width--grid-unit + 10);
      }
   }

   p {
      margin-top: (2.39 * $leading);
      font: {
         weight: $light;
         size: (2.25 * $font-size--base);
         family: $font-stack--sub-headings;
      }
   }

   img {
      &[src="img/down-arrow.png"] { // sass-lint:disable-line quotes
         margin-top: (2.26 * $leading);
      }
   }
}
