#user-community {
   background: url('../img/people.png') repeat-x scroll center (4.78 * $leading),
   url('../img/active-person.png') no-repeat scroll (11.425 * $width--grid-unit) (8 * $leading);
   height: (25.75 * $leading);
   color: $color--text--secondary;

   &__social-media-nav {
      margin: auto;
      width: ((3 * $width--grid-unit) + $width--grid-gutter);
      text-align: center;

      a {
         &:nth-of-type(3) {
            opacity: .75;
         }

         &:not(:last-of-type) {
            display: inline-block;
            padding-right: (.5 * $width--grid-gutter);
         }
      }
   }

   blockquote {
      margin-top: (2.68 * $leading);
      text-align: center;
      font: {
         weight: $regular;
         size: (1.5 * $font-size--base);
         family: $font-stack--sub-headings;
      }
   }

   cite {
      display: block;
      margin: {
         top: (1.03 * $leading);
         bottom: (2.25 * $leading);
      }
      text-align: center;
      font-size: (.875 * $font-size--base);
   }

   h2 {
      margin-top: (17.25 * $leading);
      text-align: center;
      color: $color--text--secondary;
   }

   p {
      margin: {
         top: (.51 * $leading);
         bottom: (.88 * $leading);
      }
      text-align: center;
      line-height: ($leading + 1);
      color: $color--text--primary;
   }
}
