#features {
   &__container {
      position: relative;
      margin: 0 auto;
      width: ((14 * $width--grid-unit) + $width--grid-column);
      height: (19.84 * $leading);
      text-align: center;

      &--iphone {
         position: absolute;
         top: -#{$offset--image-top};
         left: (4.5375 * $width--grid-unit); // This odd calculation is based on the iPhone image containing some padding.
         background: transparent url('../img/iphone.png') no-repeat scroll 0 0;
         width: $width--phone-image;
         height: $height--phone-image;

         img {
            position: absolute;

            // The white dot in the upper left hand area
            &:nth-of-type(1) {
               top: (11.68 * $leading);
               left: (1.7875 * $width--grid-unit);
            }

            // The white dot in the lower left hand area
            &:nth-of-type(2) {
               bottom: (10.64 * $leading);
               left: (1.8125 * $width--grid-unit);
            }

            // The white dot in the upper right hand area
            &:nth-of-type(3) {
               top: (8.08 * $leading);
               right: (2.0625 * $width--grid-unit);
            }

            // The black dot in the lower right hand area
            &:nth-of-type(4) {
               right: (1.925 * $width--grid-unit);
               bottom: (14.28 * $leading);
            }

            // The angled line
            &:nth-of-type(5) {
               right: (.425 * $width--grid-unit);
               bottom: (10.4 * $leading);
            }

            // The cursor
            &:nth-of-type(6) {
               right: (1.95 * $width--grid-unit);
               bottom: (14.08 * $leading);
            }
         }
      }
   }

   section {
      position: absolute;
      width: (4 * $width--grid-unit);
      text-align: left;

      &:nth-of-type(odd) {
         top: $offset-features--top;
      }

      &:nth-of-type(even) {
         top: (7.2 * $leading);
      }

      &:nth-of-type(1),
      &:nth-of-type(2) {
         left: $width--grid-column;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
         left: (10 * $width--grid-unit) + $width--grid-gutter;
      }
   }

   h2 {
      margin: {
         top: (2 * $leading);
         bottom: (.75 * $leading);
      }
      line-height: (.72 * $leading);
      font-size: (1.375 * $font-size--base);
   }

   p {
      line-height: ($leading + 1);
   }
}
