#get-the-app {
   background-color: $color-bg--secondary;

   &__container {
      position: relative;
      margin: 0 auto;
      padding: {
         top: (2.4 * $leading);
         bottom: (2 * $leading);
      }
      width: ((15 * $width--grid-unit) - $width--grid-gutter);
      overflow: auto;

      h2 {
         position: absolute;
         top: (2.2 * $leading);
         font-size: (1.375 * $font-size--base);
      }

      p {
         position: absolute;
         top: (4 * $leading);
         width: (6 * $width--grid-unit) + $width--grid-column;
         line-height: ($leading + 1);
      }

      #mobile-operating-systems {
         position: absolute;
         top: (9 * $leading);

         a {
            &:not(:last-of-type) {
               padding-right: (.65 * $width--grid-gutter);
            }
         }
      }

      #movie-poster {
         position: relative;
         float: right;
         background-image: url('../img/video-image.png');
         width: (6.25 * $width--grid-unit);
         height: (12.28 * $leading);

         img {
            position: absolute;

            &[src="img/play.png"] { // sass-lint:disable-line quotes
               bottom: (.84 * $leading);
               left: (.2125 * $width--grid-unit);
            }

            &[src="img/video-play-bar.png"] { // sass-lint:disable-line quotes
               bottom: (.8 * $leading);
               left: (1.3 * $width--grid-unit);
            }
         }
      }
   }
}
