// =================================================================================
// Base font sizing and leading
// =================================================================================
$font-size--base: 16px;
$leading:         25px;

// =================================================================================
// Grid-specific variables
// =================================================================================
$width--grid-column: 60px;                                              // 60px
$width--grid-gutter: ($width--grid-column / 3);                         // 20px
$width--grid-unit:   ($width--grid-column + $width--grid-gutter);       // 80px

// =================================================================================
// Footer
// =================================================================================
$width--footer-nav: ((6 * $width--grid-unit) + $width--grid-column);
$height--footer:    (5.25 * $leading);

// =================================================================================
// Font stacks
// =================================================================================
$font-stack--main-heading: Pacifico, cursive;
$font-stack--sub-headings: Raleway, sans-serif;
$font-stack--reading-text: 'Helvetica Neue', Helvetica, sans-serif;

// =================================================================================
// Font weights
// =================================================================================
$light:     300;
$regular:   400;
$semi-bold: 600;
$bold:      700;

// =================================================================================
// Image dimensions
// =================================================================================
$width--phone-image:   464px;
$height--phone-image:  794px;
$width--focus-logo:    68px;
$offset--image-top:   (11.9 * $leading);
$offset--image-left:   6px;

// =================================================================================
// Colors
// =================================================================================
$color--headings:        rgb(34, 34, 34);
$color--text--primary:   rgb(132, 132, 132);
$color--text--secondary: rgb(0, 0, 0);
$color-bg--secondary:    rgb(227, 227, 227);

$offset-features--top: 10px;
