@import 'reset';
@import 'variables';
@import 'fonts';
@import 'base';
@import 'headings';
@import 'header';
@import 'id--features';
@import 'id--get-the-app';
@import 'id--user-community';
@import 'footer';

body {
   margin: 0 auto;
   // background: transparent url('../img/focus.jpg') no-repeat scroll center top;
   color: $color--text--primary;
   font-family: $font-stack--reading-text;
}

a {
   color: $color--text--primary;
   font-size: $font-size--base;
}
